asgiref==3.7.2
backports.zoneinfo==0.2.1
bcrypt==4.1.2
certifi==2024.2.2
channels==4.0.0
charset-normalizer==3.3.2
cloudinary==1.39.0
contourpy==1.1.1
cycler==0.12.1
dill==0.3.8
Django==4.2.11
django-background-tasks==1.2.5
django-compat==1.0.15
django-extensions==3.2.3
django-rest-framework-mongoengine==3.4.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
dnspython==2.6.1
filelock==3.13.1
fonttools==4.49.0
fsspec==2024.2.0
gunicorn==21.2.0
idna==3.6
importlib_resources==6.1.2
Jinja2==3.1.3
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.7.5
mongoengine==0.28.1
mpmath==1.3.0
networkx==3.1
numpy==1.24.4
opencv-python==4.9.0.80
packaging==23.2
pandas==2.0.3
pika==1.3.2
pillow==10.2.0
psutil==5.9.8
py-cpuinfo==9.0.0
PyJWT==2.8.0
pymongo==4.6.2
pyparsing==3.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
scipy==1.10.1
seaborn==0.13.2
six==1.16.0
sqlparse==0.4.4
sympy==1.12
thop==0.1.1.post2209072238
torch==2.2.1
torchvision==0.17.1
tqdm==4.66.2
typing_extensions==4.10.0
tzdata==2024.1
ultralytics==8.1.23
urllib3==2.2.1
zipp==3.17.0
