pymongo
djangorestframework
cloudinary
mongoengine
django
bcrypt
python-dotenv
django-rest-framework-mongoengine
django-extensions
gunicorn
requests
channels
pillow
djangorestframework-simplejwt
django-background-tasks
opencv-python
numpy
ultralytics
pika

